c

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin-left: 60px;
    margin-right: 60px;
    background-image: linear-gradient(to bottom, #358cb7, rgb(61, 182, 193) );
    
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    margin-top: 10px;
}



header nav ul{
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    column-gap: 50px;
    margin-bottom: 80px;
    margin-top: 20px;
    height: 60px;
    text-decoration: none;


}

nav ul li{
    padding: 10px;
    background-color: #fbbc5f;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 3px black;
    border-radius: 6%;
    text-decoration: none;
    margin-right: 5px;
    transition: 0.5s;

}

nav ul li:hover{
    transform: scale(1.1)
}



a:link, a:visited, a:active {
    text-decoration:none;
}

.link { color: black; 
} 



.row h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.7em;
}

.hero{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


.h2home{
    display: flex;
    height: 100px;
    justify-content: center;
}

.section2{
    margin-top: 50px;
}

/*

.diferente{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

*/



.dif2{
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 3em;
    
}

.olas{
    height: 500px;
    width: 1000px;

}


.newsletter{
    margin-top: 50px;
}



.suscribite{
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 0px;
}

.mail{
    padding-top: 1.7em;
    padding-bottom: 2em;
    padding-right: 10em;
    font-weight: bold;
    box-shadow: 3px 3px black;
    border-radius: 6%;
    text-decoration: none
    
}

.btnSuscribite{
    background-color: #fbbc5f;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 3px black;
    border-radius: 6%;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 10px;
    transition: 0.5s;
}

.btnSuscribite:hover{
    transform: scale(1.1);
}

.imgNews{
    margin-top: 2em;
    height: 400px;
    width: 400px;
}



.container footer{

    height: 100px;
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;

}

/* Nosotros */

.historia{
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
}

.pizzero{
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
}

.img-p{
    margin-bottom: 2em;
}

.carousel{
    margin-top: 8em;
    margin-bottom: 10em;
}


/* Contacto */

.contacto{
    padding-bottom: 200px;
}


.video{
    display: flex;
    justify-content: center;
}



/* MEDIA QUERIES */

@media  screen and (min-width:300px){
    nav ul li{
        padding: 5px;
        background-color: #fbbc5f;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 3px 3px black;
        text-decoration: none;
        margin-right: 5px;
        transition: 0.5s;
        margin-top: 10px;
        text-align: center;
    
    }
    
    nav ul li:hover{
        transform: scale(1.1)
    }

.row .newsletter{
    margin-top: 3em;
}


}






@media  screen and (min-width:618px) {

    nav ul li{
        padding: 5px;
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 1px 1px black;
        text-decoration: none;
        transition: 0.5s;
        margin-top: 10px;
        text-align: center;
    
    }
    
    nav ul li:hover{
        transform: scale(1.1)
    }

    .newsletter{
        margin-top: 300px;
    }
    
   


    .mail{
        padding-top: 1.7em;
        padding-bottom: 2em;
        padding-right: 15em;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none
        
    }
    
    .btnSuscribite{
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
    }
    
}

@media  screen and (min-width:654px) {

    nav ul li{
        padding: 5px;
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 1px 1px black;
        text-decoration: none;
        transition: 0.5s;
        margin-top: 10px;
        text-align: center;
    
    }
    
    nav ul li:hover{
        transform: scale(1.1)
    }

  


    .mail{
        padding-top: 1.7em;
        padding-bottom: 2em;
        padding-right: 10em;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none
        
    }
    
    .btnSuscribite{
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
    }

    .suscribite{
        margin-top: 100px;
    }
    
}

@media  screen and (min-width:720px) {
    .newsletter{
        margin-top: 100px;
       
        
    }


    .suscribite{
        font-size: 2em;
    }
    
   
    
    
  

    .imgNews{
        height: 500px;
        width: 500px;
    }

    .mail{
        padding-top: 1.7em;
        padding-bottom: 2em;
        padding-right: 14em;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none
        
    }
    
    .btnSuscribite{
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
    }
}

@media  screen and (min-width:993px) {

    .btnSuscribite{
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;




        
    }

    .mail{
        padding-top: 1.7em;
        padding-bottom: 2em;
        padding-right: 13em;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none
        
    }
    
}


@media  screen and (min-width:1024px) {
   


    .suscribite{
        font-size: 2em;
    }
    
    .imgNews{
        height: 500px;
        width: 500px;
    }

    .mail{
        padding-top: 1.7em;
        padding-bottom: 2em;
        padding-right: 20em;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none
        
    }
    
    .btnSuscribite{
        background-color: #fbbc5f;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 3px 3px black;
        border-radius: 6%;
        text-decoration: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
    }

    /* NOSOTROS */

.historia{
    margin-top: 10em;

}

.pizzero{
    margin-top: 10em;

}

.carousel{
    margin-top: 10em;
}

.carousel-inner{
    height: 500px;
    width: 800px;
}

    
}