/* RESET*/

@import "utilities/_variables.scss";
@import "utilities/mixin";
@import "utilities/extend";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin-left: 60px;
    margin-right: 60px;
    background-image: linear-gradient(to bottom, #3AB4F2, #0078AA);
    color: $color-tipo;
}


a:link, a:visited, a:active {
    text-decoration:none;
}

.link { color: black; 
} 


header{
    .logo{
        display: flex;
        justify-content: center;
        img{
            margin-top: 10px;
        }
    }

    nav{
        ul{
            display: flex;
            column-gap: 10px;
            justify-content: center;
            align-items: center;
            margin-bottom: 80px;
            margin-top: 20px;
            height: 60px;
            text-decoration: none;
            li{
                display: inline;
                padding: 10px;
                align-items: center;
                background-color: $color-btn;
                font-size: 20px;
                font-weight: bold;
                box-shadow: 3px 3px black;
                border-radius: 6%;
                text-decoration: none;
                margin-right: 5px;
                transition: 0.5s;
        
        }
            li:hover{
                transform: scale(1.1)
            }
        }
    }

}

main{
    h1{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        font-size: 1.7em;
    }
    
    .hero{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        .img-fluid{
            box-shadow: 10px 10px 20px black;
        }
    }

    .section2{
        margin-bottom: 300px;
        height: 900px;
        .h2home{
            display: flex;
            height: 150px;
            justify-content: center;
            align-items: center;
        }
        .diferente{
            display: flex;
            height: 500px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            row-gap: 3em;
            .dif2{
                width: 200px;
                margin-left: 50px;
                margin-right: 50px;
               
                .icon{
                    margin-top: 1em;
                    margin-bottom: 1em;
                    margin-left: 4em;
                }
            }
            
        }

    
        }
        
        
    }
    .newsletter{
        margin-top: 10em;
        height: auto;
       

        .suscribite{
            font-size: 2em;
            margin-bottom: 1em;
            margin-top: 0px;
            }
        

        .form{
            .mail{
                padding-top: 1.7em;
                padding-bottom: 2em;
                 padding-right: 10em;
                 font-weight: bold;
                 box-shadow: 3px 3px black;
                 border-radius: 6%;
                text-decoration: none
             }
             .btnSuscribite{
                grid-area: btnSuscribite;
                background-color: $color-btn;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                padding-top: 1em;
                padding-bottom: 1em;
                padding-left: 5px;
                padding-right: 5px;
                margin-left: 5px;
                margin-top: 2em;
                margin-bottom: 2em;
                transition: 0.5s;
                box-shadow: 3px 3px black;
                border-radius: 6%;
            }
        
             .btnSuscribite:hover{
                transform: scale(1.1);
            }
            .imgNews{
                margin-top: 2em;
                height: 400px;
                width: 400px;
                
            }
            .imgNewsClass{
                img{
                    box-shadow: 10px 10px 20px black;

                }
            }
        }



}

footer{
    margin-top: 100px;
    margin-bottom: 2em;
    text-align: center;

}

/* NOSOTROS */


main{
    .historia{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-template-areas: "txt-h"
                             "img-h";      
        
        row-gap: 40px;
        justify-content: center;
        .txt-h{
            grid-area: txt-h;
        }
        
        .img-h{
            grid-area: img-h;
            margin-bottom: 4em;
            box-shadow: 10px 10px 20px black;

        }
    }
    .pizzero{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-template-areas: "txt-p"
                             "img-p";      
        
        row-gap: 40px;
        justify-content: center;
        .txt-p{
            grid-area: txt-p;
        }
        
        .img-p{
            grid-area: img-p;
            margin-bottom: 6em;
            box-shadow: 10px 10px 20px black;

        }
    }
    .gal-fotos{
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }
    
}
/* CATERING */
main{
    .casamientos{
        @extend %gridcat;
        grid-template-areas: 
                            "txt-casam"
                            "img-casam";
        .txt-casam{
            grid-area: txt-casam;
            margin-bottom: 2em;
            .title-cas{
                margin-bottom: 1em;
            }
            form{
                div{
                    a{
                        .btn-reservar{
                            background-color: $color-btn;
                            transition: 0.5s;
                            @include box-btnres;

                        }
                        .btn-reservar:hover{
                            transform: scale(1.1)
                        }
                    }
                }
            }
        }   

        .img-casam{
            grid-area: img-casam;
            margin-bottom: 4em;
            box-shadow: 10px 10px 20px black;
        } 

    }
    .eventos{
        @extend %gridcat;
        grid-template-areas: 
                            "txt-even"
                            "img-even";
        .txt-even{
            grid-area: txt-even;
            margin-bottom: 2em;
            .title-even{
                margin-bottom: 1em;
            }
            form{
                div{
                    a{
                        .btn-reservar{
                            background-color: $color-btn;
                            transition: 0.5s;
                            @include box-btnres;

                        }
                        .btn-reservar:hover{
                            transform: scale(1.1)
                        }
                    }
                }
            }
            
        }
                            
        .img-even{
            grid-area: img-even;
            margin-bottom: 4em;
            box-shadow: 10px 10px 20px black;
        }
    }
    .cumple{
        @extend %gridcat;
        grid-template-areas: 
                            "txt-cumple"
                            "img-cumple";
        .txt-cumple{
            grid-area: txt-cumple;
            margin-bottom: 2em;
            .title-cumple{
                margin-bottom: 1em;
            } 
            form{
                div{
                    a{
                        .btn-reservar{
                            background-color: $color-btn;
                            transition: 0.5s;
                            @include box-btnres;

                        }
                        .btn-reservar:hover{
                            transform: scale(1.1)
                        }
                    }
                }
            }               
        }
                            
        .img-cumple{
            grid-area: img-cumple;
            margin-bottom: 4em;
            box-shadow: 10px 10px 20px black;
        }
    }
}

/*FROZEN*/

main{
    .video{
        display: flex;
        justify-content: center;
        margin-bottom: 4em;
        
    }
    .frz{
        margin-top: 4em;
    }
    .frozen{
        margin-bottom: 5em;
        .txt-frozen{
            justify-self: center;
        }
    }
    .clasicas{
        .txt-pizza{
            margin-bottom: 1em;
        }
        .line-frz{
            margin-bottom: 5em;
        }
        .gustosC1C2{
            margin-top: 1em;
            margin-bottom: 2em;
            .gustosC1{
                margin-bottom: 2em;
            }
        }
        .gustosC3C4{
            margin-bottom: 5em;
            .gustosC3{
                margin-bottom: 2em;
            }
        }
        
    }
    .premium{
        .txt-pizza{
            margin-bottom: 1em;
        }
        .line-frz{
            margin-bottom: 5em;
        }
        .gustosP1P2{
            margin-top: 1em;
            margin-bottom: 2em;
            .gustosP1{
                margin-bottom: 2em;
            }
        }
        .gustosP3P4{
            margin-bottom: 5em;
            .gustosP3{
                margin-bottom: 2em;
            }
        }
    }
    .deluxe{
        .txt-pizza{
            margin-bottom: 1em;
        }
        .line-frz{
            margin-bottom: 5em;
        }
        .gustosD1D2{
            margin-top: 1em;
            margin-bottom: 3em;
            .gustosD1{
                margin-bottom: 2em;
            }
        }
    }
    .wap{
        position: fixed;
        bottom: 1em;
        right: 0.5em;
        

    }
}



 /*CONTACTO*/

 main{
    div{
        .contacto{
            display: flex;
            justify-content: center;
            height: auto; 
            margin-bottom: 5em;
            .campos{
                padding-top: 1.3em;
                padding-bottom: 1.3em;
                padding-right: 10em;
                font-weight: bold;
                box-shadow: 3px 3px black;
                border-radius: 6%;
                text-decoration: none
                
            }
            .campos{
                margin-bottom: 4em;
             }
            .btn-form{
                display: flex;
                justify-content: center;
                margin-top: 3em;
                .enviar{
                    background-color: $color-btn;
                    font-size: 20px;
                    font-weight: bold;
                    box-shadow: 3px 3px black;
                    border-radius: 6%;
                    text-decoration: none;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    padding-left: 2em;
                    padding-right: 2em;
                    margin-left: 5px;
                }
            
            }
            .inputs1{
                display: flex;
                align-content: center;
                column-gap: 5em;
                
            }

            .inputs2{
                display: flex;
                align-content: center;
                column-gap: 5em;
                .drp{ 
                    .dropdown{
                        padding-top: 1.3em;
                        padding-bottom: 1.3em;
                        padding-right: 11em;
                        font-weight: bold;
                        box-shadow: 3px 3px black;
                        border-radius: 6%;
                        text-decoration: none
                    }
                }
            }
            .inputs3{
                display: flex;
                align-content: center;
                column-gap: 5em;
                
            }
            
        }
    }
 }


  /*MEDIA QUERIES*/

  @media screen and (min-width:720px) {
    main{
        .section2{
            height: 500px;
        }
        .newsletter{
            margin-top: 200px;
            
        .txt-news{
            .suscribite{
                font-size: 2em;
            }   
        }
        
        .img-nws{
            height: 350px;
            width: 350px;
        }
    
        .mail{
            padding-top: 1.7em;
            padding-bottom: 2em;
            padding-right: 24em;
            font-weight: bold;
            box-shadow: 3px 3px black;
            border-radius: 6%;
            text-decoration: none
            
        }
        
        .btnSuscribite{
            grid-area: suscribite;
            background-color: $color-btn;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 3px 3px black;
            border-radius: 6%;
            text-decoration: none;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
        }
        } 
    }

    /*FROZEN*/

    main{
        .frozen{
            margin-bottom: 5em;
        } 
        .clasicas{
            .gustosC1C2{
                display: flex;
                margin-top: 1em;
                margin-bottom: 3em;
                justify-content: space-around;
            }
            
            .gustosC3C4{
                display: flex;
                margin-bottom: 5em;
                justify-content: space-around;
            }
        }
        .premium{
            .gustosP1P2{
                display: flex;
                margin-top: 1em;
                margin-bottom: 3em;
                justify-content: space-around;
            
            }
            
            .gustosP3P4{
                display: flex;
                margin-bottom: 5em;
                justify-content: space-around;
            
            }  
        }
        .deluxe{
            .gustosD1D2{
                display: flex;
                margin-top: 1em;
                margin-bottom: 3em;
                justify-content: space-around;
            
            } 
        }
        .wap{
            position: fixed;
            bottom: 1em;
            right: 1em;
            

        }
    }


  }

  @media screen and (min-width:992px) {

   main{
    .clasicas{
        .txt-pizza{
            margin-left: 2em;
         }
         
    }
    .premium{
        .txt-pizza{
            margin-left: 2em;
         }     
    }
    .deluxe{
        .txt-pizza{
            margin-left: 2em;
         }
         
    }
   }

   main{
    .newsletter{
        .form{
            .mail{
                padding-right: 2em;
            }
        }
    }
   }
}

@media  screen and (min-width:1024px) {

    main{
        .section2{
            height: 400px;
        }
        .newsletter{
            margin-top: 6em;
            margin-bottom: 6em;

            .txt-nws{
                .suscribite{
                    font-size: 2em;
                }   
            }

            .img-nws{
                height: 500px;
                width: 500px;
            }
            
            .form{
                .mail{
                    padding-top: 1.7em;
                    padding-bottom: 2em;
                    padding-right: 20em;
                    font-weight: bold;
                    box-shadow: 3px 3px black;
                    border-radius: 6%;
                    text-decoration: none
                    
                }
                
                .btnSuscribite{
                    background-color: #fbbc5f;
                    font-size: 20px;
                    font-weight: bold;
                    box-shadow: 3px 3px black;
                    border-radius: 6%;
                    text-decoration: none;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-left: 5px;
                }
            }
           
                
            
            
        } 
        
    }

    /*NOSOTROS*/
    main{
        .gal-fotos{
            .carousel{
                margin-top: 10em;
                margin-bottom: 10em;
            }
        }   .carousel-inner{
            height: 500px;
            width: 80%; 
        }
        .historia{
            height: 500px;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                                "txt-h img-h" 
                                ;             
            margin-top: 10em;
            .txt-h{
                grid-area: txt-h;
            }
        
           
            
            .img-h{
                grid-area: img-h;
            }
        }
        .pizzero{
            height: 600px;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                            "img-p txt-p" 
                            ;             
            margin-top: 3em;
            .txt-p{
                grid-area: txt-p;
                margin-left: 2em;
            }
        
           
            .img-p{
                grid-area: img-p;
            }
        }
    }

     /* CATERING */
    main{
        .casamientos{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr;
            grid-template-areas: 
                                "txt-casam img-casam"
                                ;
            margin-top: 10em;
            .txt-casam{
                grid-area: txt-casam;
                margin-bottom: 2em;
                margin-right: 4em;
                .title-cas{
                    margin-bottom: 1em;
                }
            }
            
            .img-casam{
                grid-area: img-casam;
                margin-bottom: 4em;
            }
        }
        .eventos{
            margin-top: 8em;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr;
            grid-template-areas: 
                                "img-even txt-even"
                                ;
            .txt-even{
                grid-area: txt-even;
                margin-bottom: 2em;
                margin-left: 4em;
                title-even{
                    margin-bottom: 1em;
                }
             }

            .img-even{
                grid-area: img-even;
                margin-bottom: 4em;
            }
        }
        .cumple{
            margin-top: 8em;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr;
            grid-template-areas: 
                                "txt-cumple img-cumple"
                                ;
            .txt-cumple{
                grid-area: txt-cumple;
                margin-bottom: 2em;
                margin-right: 4em;
                .title-cumple{
                    margin-bottom: 1em;
                }   
            }
                                
            .img-cumple{
                grid-area: img-cumple;
                margin-bottom: 4em;
            }
        }
    }

    /*FROZEN*/

    main{
        .wap{
            position: fixed;
            bottom: 1em;
            right: 1em;
            

        }

    }

    /*CONTACTO*/
    
    main{
        .contacto{
            .campos{
                padding-top: 1.3em;
                padding-bottom: 1.3em;
                padding-right: 24em;
                font-weight: bold;
                box-shadow: 3px 3px black;
                border-radius: 6%;
                text-decoration: none 
            }
            .campos{
                margin-bottom: 4em;
            }
            .btn-form{
                display: flex;
                justify-content: center;
                margin-top: 3em;
                
            }
            .dropdown{
                padding-top: 1.3em;
                padding-bottom: 1.3em;
                padding-right: 24em;
                font-weight: bold;
                box-shadow: 3px 3px black;
                border-radius: 6%;
                text-decoration: none
            
            }
        }
    }

}
